.navbar {
    background-color: rgb(61, 56, 56);
    height: 96px;
    width: 100vw;
    border-radius: 10px;
    position: fixed;
    margin-top: 5px;
    margin-right: 20px;
    background-color: rgb(61, 56, 56); 
    transition: top 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
    justify-content: space-between; /* Distribute space between elements */
    align-items: center;
    
}


.navbar.hidden {
    top: -100px; 
}


.navbar.visible {
    top: 0;
}
.logo-img{
    margin: 10px;
    border-radius: 5px;
}


.nav-items {
    display: flex; /* Arrange nav items in a row */
    justify-content: center; /* Center nav items */
    flex-grow: 1; /* Allow nav items to take up available space */

}

.nav-item {
    margin: 0 15px; /* Space between nav items */
}

.signin {
    flex: 0 0 auto; /* Prevent the signup from growing or shrinking */
    margin-right: 30px;
}
.item{
    margin-left: 20px;
}